/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Mono', monospace;
    background-color: #121212;  /* Dark background */
    color: #b3b3b3;  /* Light text color */
    line-height: 1.6;
    font-size: 20px;
}

/* Container for the sidebar and content */
.container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

/* Sidebar Styles */
.sidebar {
    width: 270px;
    background-color: #1a1a1a;
    color: #66ff66;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 20px;
}

.sidebar h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #66ff66;
}

.nav-links, .external-links {
    list-style: none;
    padding: 0;
}

.nav-links li, .external-links li {
    margin-bottom: 20px;
}

.nav-links li a, .external-links li a {
    color: #33cc33;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-links li a:hover, .external-links li a:hover {
    color: #66ff66;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 25px 0;
}

/* Main Content Area Styles */
.content {
    flex: 1;
    padding: 30px;
    margin-left: 290px;
}

#posts-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* Full-Width, Enhanced Post Card Styles */
.post-card-link {
    text-decoration: none;
}

.post-card {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 30px;
    width: calc(100% - 60px);
    margin: 0 auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    transition: transform 
